body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

form {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step {
    display: none;
}

.step.active {
    display: block;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input,
textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    overflow: auto;
    margin-top: 20px;
    text-align: right;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button.prev {
    background-color: #f1f1f1;
    float: left;
    margin-left: 62%;
}

button.next {
    background-color: #df47c6;
    color: white;
    float: right;
}

button[type="submit"] {
    background-color: #df47c6;
    color: white;
    float: right;
}